<!-- BEGIN Podio web form -->
<script src="https://podio.com/webforms/23790235/1719873.js"></script>
<script type="text/javascript">
  _podioWebForm.render("1719873")
    const form = document.getElementById(document.querySelector('[id^="podioWebForm"]').id);
    console.log("formid: ", form);
    form.addEventListener('submit', function(ev){
        alert("submitted!")
    });
</script>
<noscript>
  <a href="https://podio.com/webforms/23790235/1719873" target="_blank">Please fill out the form</a>
</noscript>
<!-- END Podio web form -->